<html>
    <head>
        <style>

            h1{
                text-align: center;

            }

        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="/addjobs">
            <h1>INSERT JOB DETAILS</h1>
            <label   class="form-control"  for="jobposition">COMPANY_NAME</label>
            <input class="form-control" type="text" id="comname" name="companyname">
            <br>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="jobposition">Job_Position</label>
            <input type="text" id="job" name="jobposition">
            <br>
            <label for="location">Location</label>
            <input type="integer" id="location" name="location">
            <br>
            <label for="requriments">Requriments</label>
            <input type="integer" id="experience" name="requriments">
            <br>
            <label for="url">Url</label>
            <input type="url" id="url" name="url">
            <br>
            <input type="submit" value="Submit" href="/">
        </form>
    </body>
</html>
    

