
<label for="fsemisteryear">Sem1::</label>
<input type="text" id="fsemisteryear"   style="position: relative;left:150px;" class="marks" placeholder=" Enter semister" name="syear" required>
<br>
<br>

<label for="enint">EN-Internal</label>
<input type="number"  id="ewint"  class="marks"  style="position: relative;left:99px;" placeholder="ml-internal" name="mlint" required>
<br>
<br>


<label for="enext">EN-External</label>
<input type="number"  id="enext"   style="position: relative;left:99px;" class="marks" placeholder="en-external" name="enext" required>
<br>
<br>
<label for="entotal">EN-Total</label>

  <input type="number"  id="entotal"   style="position: relative;left:125px;" class="marks" placeholder="en-total" name="entotal" required>
<br>
<br>
<label for="engrade">EN-Grade</label>

  <input type="text"  id="engrade"   style="position: relative;left:115px;"class="marks" placeholder="en-grade" name="engrade" required>
<br>
<br>

<label for="m1int">M1-INTERNEL</label>

  <input type="number" id="m1int"  style="position: relative;left:100px;"  class="marks" placeholder="m1-internal" name="m1int" required>
<br>
<br>

<label for="m1ext">M1-EXTERNAL</label>

  <input type="number"  id="m1ext"   style="position: relative;left:100px;" class="marks" placeholder="m1-external" name="m1ext" required>

  <br>
  <br>
<label for="m1total">M1-Total</label>

  <input type="number"  id="m1total"  style="position: relative;left:125px;" class="marks" placeholder="m1-total" name="m1total" required>
<br>
<br>
<label for="m1grade">M1-Grade</label>

  <input type="text"  id="m1grade"  style="position: relative;left:115px;" class="marks" placeholder="m1-grade" name="m1grade" required>
<br>
<br>

<label for="beeint">BEE-Internal</label>

  <input type="number" id="beeint"  style="position: relative;left:105px;" class="marks" placeholder="bee-internal" name="beeint" required>
<br>
<br>
<label for="beeext">BEE-External</label>
<input type="number" id="beeext"  style="position: relative;left:105px;" class="marks" placeholder="bee-external" name="beeext" required>
<br>
<br>
<label for="beetotal">BEE-Total</label>
<input type="number"  id="beetotal"  style="position: relative;left:135px;"  class="marks" placeholder="bee-total" name="beetotal" required>
<br>
<br>
<label for="beegrade">BEE-Grade</label>

<input type="text"  id="beegrade"  style="position: relative;left:125px;" class="marks" placeholder="bee-grade" name="beegrade" required>
<br>
<br>
<label for="chemint">chem-Internal</label>

<input type="number"  id="chemint" style="position: relative;left:78px;"  class="marks" placeholder="chem-internal" name="chemint" required>
<br>
<br>



<label for="chemext">CHEM-External</label>
<input type="number" id="chemext"  style="position: relative;left:77px;" class="marks" placeholder="chem-external" name="chemext" required>
<br>

<br>

<label for="chemtotal">CHEM-Total</label>

  <input type="number"id="chemtotal"  style="position: relative;left:107px;" class="marks" placeholder="chemtotal" name="chemtotal" required>


<br>
<br>
<label for="chemgrade">CHEM-Grade</label>

  <input type="text" id="chemgrade"  style="position: relative;left:96px;" class="marks" placeholder="chemgrade" name="chemgrade" required>

<br>
<div class="secondsem">

<label for="semisteryear2">Sem2::</label>
<input type="text" id="semisteryear"   style="position: relative;left:150px;" class="marks" placeholder="semister" name="syear" required>
<br>
<br>

<label for="apint">AP-Internal</label>
<input type="number"  id="apint"  class="marks2"  style="position: relative;left:99px;" placeholder="ap-internal" name="apint" required>
<br>
<br>


<label for="apext">AP-External</label>
<input type="number"  id="apext"   style="position: relative;left:99px;" class="marks2" placeholder="ap-external" name="apext" required>
<br>
<br>
<label for="aptotal">AP-Total</label>

  <input type="number"  id="aptotal"   style="position: relative;left:125px;" class="marks2" placeholder="ap-total" name="aptotal" required>
<br>
<br>
<label for="apgrade">AP-Grade</label>

  <input type="text"  id="apgrade"   style="position: relative;left:115px;"class="marks2" placeholder="ap-grade" name="apgrade" required>
<br>
<br>

<label for="ppsint">PPS-Internal</label>

  <input type="number" id="ppsint"  style="position: relative;left:100px;"  class="marks2" placeholder="pps-internal" name="ppsint" required>
<br>
<br>

<label for="ppsext">PPS-External</label>

  <input type="number"  id="ppsext"   style="position: relative;left:100px;" class="marks2" placeholder="pps-external" name="ppsext" required>

  <br>
  <br>
<label for="ppstotal">PPS-Total</label>

  <input type="number"  id="ppstotal"  style="position: relative;left:125px;" class="marks2" placeholder="pps-total" name="ppstotal" required>
<br>
<br>
<label for="ppsgrade">PPS-Grade</label>

  <input type="text"  id="ppsgrade"  style="position: relative;left:115px;" class="marks2" placeholder="pps-grade" name="ppsgrade" required>
<br>
<br>

<label for="m2int">M-11-internal</label>

  <input type="number" id="m2int"  style="position: relative;left:105px;" class="marks2" placeholder="m2-internal" name="m2int" required>
<br>
<br>
<label for="m2ext">M2-External</label>
<input type="number" id="m2ext"  style="position: relative;left:105px;" class="marks2" placeholder="m2-external" name="m2ext" required>
<br>
<br>
<label for="m2total">M2-Total</label>
<input type="number"  id="m2total"  style="position: relative;left:135px;"  class="marks2" placeholder="m2-total" name="m2total" required>
<br>
<br>
<label for="m2grade">M2-Grade</label>

<input type="text"  id="m2grade"  style="position: relative;left:125px;" class="marks2" placeholder="m2-grade" name="m2grade" required>
<br>
<br>
<label for="engfint">ENGF-Internal</label>

<input type="number"  id="engfint" style="position: relative;left:78px;"  class="marks2" placeholder="engf-internal" name="engfint" required>
<br>
<br>



<label for="engfext">ENGF-External</label>
<input type="number" id="engfext"  style="position: relative;left:77px;" class="marks2" placeholder="engf-external" name="engfext" required>
<br>

<br>

<label for="engftotal">ENGF-Total</label>

  <input type="number"id="engftotal"  style="position: relative;left:107px;" class="marks2" placeholder="engftotal" name="engftotal" required>


<br>
<br>
<label for="engfrade">Engf-Grade</label>

  <input type="text" id="engfgrade"  style="position: relative;left:96px;" class="marks2" placeholder="engfgrade" name="engfgrade" required>

<br>
</div>

<div class="semister3">
<label for="semister3">Sem3::</label>
<input type="text" id="semister3"   style="position: relative;left:150px;" class="marks3" placeholder="semister" name="semister3" required>
<br>
<br>

<label for="dbmsin">DBMS-Internal</label>
<input type="number"  id="dbmsin"  class="marks3"  style="position: relative;left:99px;" placeholder="dbms-internal" name="dbmsint" required>
<br>
<br>


<label for="dbmsext">dbms-External</label>
<input type="number"  id="dbmsext"   style="position: relative;left:99px;" class="marks3" placeholder="dbms-external" name="dbmsext" required>
<br>
<br>
<label for="dbmstotal">dbms-Total</label>

  <input type="number"  id="dbmstotal"   style="position: relative;left:125px;" class="marks3" placeholder="dbms-total" name="dbmstotal" required>
<br>
<br>
<label for="dbmsgrade">dbms-Grade</label>

  <input type="text"  id="dbmsgrade"   style="position: relative;left:115px;"class="marks3" placeholder="dbms-grade" name="dbmsgrade" required>
<br>
<br>

<label for="javaint">java-Internal</label>

  <input type="number" id="javaint"  style="position: relative;left:100px;"  class="marks3" placeholder="java-internal" name="javaint" required>
<br>
<br>

<label for="javaext">java-External</label>

  <input type="number"  id="javaext"   style="position: relative;left:100px;" class="marks3" placeholder="java-external" name="javaext" required>

  <br>
  <br>
<label for="javatotal">java-Total</label>

  <input type="number"  id="javatotal"  style="position: relative;left:125px;" class="marks3" placeholder="java-total" name="javatotal" required>
<br>
<br>
<label for="javagrade">java-Grade</label>

  <input type="text"  id="javagrade"  style="position: relative;left:115px;" class="marks3" placeholder="java-grade" name="javagrade" required>
<br>
<br>

<label for="osint">os-Internal</label>

  <input type="number" id="osint"  style="position: relative;left:105px;" class="marks3" placeholder="os-internal" name="osint" required>
<br>
<br>
<label for="osext">os-External</label>
<input type="number" id="osext"  style="position: relative;left:105px;" class="marks3" placeholder="os-external" name="osext" required>
<br>
<br>
<label for="ostotal">os-Total</label>
<input type="number"  id="ostotal"  style="position: relative;left:135px;"  class="marks3" placeholder="os-total" name="ostotal" required>
<br>
<br>
<label for="osgrade">os-Grade</label>

<input type="text"  id="osgrade"  style="position: relative;left:125px;" class="marks3" placeholder="os-grade" name="osgrade" required>
<br>
<br>
<label for="seint">se-Internal</label>

<input type="number"  id="seint" style="position: relative;left:78px;"  class="marks3" placeholder="se-internal" name="seint" required>
<br>
<br>



<label for="seext">se-External</label>
<input type="number" id="seext"  style="position: relative;left:77px;" class="marks3" placeholder="se-external" name="seext" required>
<br>

<br>

<label for="setotal">se-Total</label>

  <input type="number"id="setotal"  style="position: relative;left:107px;" class="marks3" placeholder="setotal" name="setotal" required>


<br>
<br>
<label for="segrade">se-Grade</label>

  <input type="text" id="segrade"  style="position: relative;left:96px;" class="marks3" placeholder="segrade" name="segrade" required>

<br>
</div>

<div class="semister4">
<label for="semister4">Sem4::</label>
<input type="text" id="semister4"   style="position: relative;left:150px;" class="marks4" placeholder="semister" name="syear" required>
<br>
<br>

<label for="pyin">py-Internal</label>
<input type="number"  id="pyin"  class="marks4"  style="position: relative;left:99px;" placeholder="py-internal" name="pyint" required>
<br>
<br>


<label for="pyext">py-External</label>
<input type="number"  id="pyext"   style="position: relative;left:99px;" class="marks4" placeholder="py-external" name="pyext" required>
<br>
<br>
<label for="pytotal">py-Total</label>

  <input type="number"  id="pytotal"   style="position: relative;left:125px;" class="marks4" placeholder="py-total" name="pytotal" required>
<br>
<br>
<label for="pygrade">py-Grade</label>

  <input type="text"  id="pygrade"   style="position: relative;left:115px;"class="marks4" placeholder="py-grade" name="pygrade" required>
<br>
<br>

<label for="msfint">msf-Internal</label>

  <input type="number" id="inmsft"  style="position: relative;left:100px;"  class="marks4" placeholder="msf-internal" name="msfint" required>
<br>
<br>

<label for="msfext">msf-External</label>

  <input type="number"  id="msfext"   style="position: relative;left:100px;" class="marks4" placeholder="msf-external" name="msfext" required>

  <br>
  <br>
<label for="msftotal">msf-Total</label>

  <input type="number"  id="msftotal"  style="position: relative;left:125px;" class="marks4" placeholder="msf-total" name="msftotal" required>
<br>
<br>
<label for="msfgrade">msf-Grade</label>

  <input type="text"  id="msfgrade"  style="position: relative;left:115px;" class="marks4" placeholder="msf-grade" name="msfgrade" required>
<br>
<br>

<label for="befaint">befa-Internal</label>

  <input type="number" id="befaint"  style="position: relative;left:105px;" class="marks4" placeholder="befa-internal" name="befaint" required>
<br>
<br>
<label for="befaext">befa-External</label>
<input type="number" id="befaext"  style="position: relative;left:105px;" class="marks4" placeholder="befa-external" name="befaext" required>
<br>
<br>
<label for="befatotal">befa-Total</label>
<input type="number"  id="befatotal"  style="position: relative;left:135px;"  class="marks4" placeholder="befa-total" name="befatotal" required>
<br>
<br>
<label for="befagrade">befa-Grade</label>

<input type="text"  id="befagrade"  style="position: relative;left:125px;" class="marks4" placeholder="befa-grade" name="befagrade" required>
<br>
<br>
<label for="dsint">ds-Internal</label>

<input type="number"  id="dsint" style="position: relative;left:78px;"  class="marks4" placeholder="ds-internal" name="dsint" required>
<br>
<br>



<label for="dsext">ds-External</label>
<input type="number" id="dsext"  style="position: relative;left:77px;" class="marks4" placeholder="ds-external" name="dsext" required>
<br>

<br>

<label for="dstotal">ds-Total</label>

  <input type="number"id="dstotal"  style="position: relative;left:107px;" class="marks4" placeholder="dstotal" name="dstotal" required>


<br>
<br>
<label for="dsgrade">ds-Grade</label>

  <input type="text" id="dsgrade"  style="position: relative;left:96px;" class="marks4" placeholder="dsgrade" name="dsgrade" required>

<br>
</div>
